.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* #imagen_es{
  margin-left: 600px;
  position: fixed;
  color: rgb(255, 255, 255);
} */

#colortxt{
  color: #fff;
  background-color: black;
}
#min{
  width: 100px;
  height: 20px;
  
}

#max{
  width: 100px;
  height: 20px;
}

/* .Rango_precio{
  position: fixed;
} */

.produ_ctos{
  background-image: url("../img/algo3.gif");
}

/* .Rango_ascendente{
  position: fixed;
  margin-top: 100px;
} */

#cambio{
  background-color: transparent;
  color: #fff;
}

#titulos_cars{
  color: rgb(206, 7, 7);
}

#cant_cars{
  color: lightgray;
  height: 20px;
  background-color: rgba(3, 3, 243, 0.493);
  border-radius: 8px;
}

#desc_cars{
  color: rgb(3, 149, 160);
}

#cost_cars{
  color: rgb(4, 234, 250) ;
}

#msg{
  height: 45px;
  margin-bottom: 20px;
}

#msg_btn{
  margin-bottom: 20px;
}

#fondo_comment{
  background-color: rgb(255, 228, 196);
}

#fondo1_comment{
  background-color: rgb(255, 228, 196);
}

#fondo_info{
  background-image: url("../img/algo3.gif");
}

.checked{
  color: rgb(128, 1, 255);
}

/* #Cantidad{
  
} */

#My_comments_stars span{
  color: orange;
}

#Relacion{
  color: white;
}

#tarjetas .card{
  margin-right: 20px;
  background-color: beige;
}

/* #cartProductRelationed{
  float:left;
} */


/*.container{
  border-radius: 5%;
} */

/* #cartProductBuy{
 background: linear-gradient(to bottom, rgb(250, 228, 201) 0%, rgb(247, 223, 120) 100%); 
 width: 500px;
 margin-left: 20px;
} */

/* #cartProductBuy img{
  border-radius: 10%;
} */

/* #cartProductBuy_2{
  background: linear-gradient(to bottom, rgb(250, 228, 201) 0%, rgb(247, 223, 120) 100%); 
  width: 400px;
  margin-left: 50px;
  color: black;
 } */


#master{
   height: 50px;
   width: 96px;
}
#visa{
  height: 50px;
  width: 60px;
 }
 #paypal{
  height: 50px;
  width: 120px;
 }
 
 #restOfproducts img{
   height: 130px;
   width: 160px;
 }

/* .carousel {
 width: 50%;
 } */

 
#bodyy{
  background-image: url("../img/algo3.gif");
}

/* #bodyy main{
  display: flex;

} */

#carouselCars{
  margin-top: 350px;
}

#carouselCars .wrapper .outer{
  display:flex;
  align-items: center;
  justify-content:left;
}
#carouselCars .wrapper .card{
  background: rgb(255, 255, 255);
  width: 300px;
  display: flex;
  align-items: center;
  padding: 20px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
#carouselCars .outer:hover .card{
  animation-play-state: paused;
}
#carouselCars .wrapper .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
#carouselCars .card .content{
  display: flex;
  align-items: center;
}
#carouselCars .wrapper .card .img{
  height: 100px;
  width: 100px;
  position: absolute;
  left: -5px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
#carouselCars .card .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details{
  margin-left: 80px;
}
#carouselCars .details span{
  font-weight: 600;
  font-size: 18px;
}
#carouselCars .card button{
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
#carouselCars .card a:hover{
  transform: scale(0.94);
}


#btnAnimated .buttons {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 

#btnAnimated .cart-button {
  position: relative;
  outline: 0;
  background-color: blue;
  color: #fff;
  border: none;
  height: 48px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  line-height: 0px;
  overflow: hidden;
  cursor: pointer
}

#btnAnimated .cart-button:focus {
  outline: none !important
}

#btnAnimated .cart-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -20%;
  font-size: 1.8em;
  transform: translate(-50%, -50%)
}

#btnAnimated .cart-button .fa-square {
  position: absolute;
  z-index: 1;
  top: -20%;
  left: 53%;
  font-size: 0.8em;
  transform: translate(-50%, -50%)
}

#btnAnimated .cart-button span {
  position: absolute;
  left: 50%;
  top: 50%;
  color: #fff;
  transform: translate(-50%, -50%)
}

#btnAnimated .cart-button span.added {
  opacity: 0
}

#btnAnimated .cart-button.clicked .fa-shopping-cart {
  animation: cart 2s ease-in forwards
}

#btnAnimated .cart-button.clicked .fa-square {
  animation: box 2s ease-in forwards
}

#btnAnimated .cart-button.clicked span.add-to-cart {
  animation: addcart 2s ease-in forwards
}

#btnAnimated .cart-button.clicked span.added {
  animation: added 2s ease-in forwards
}

@keyframes cart {
  0% {
      left: -10%
  }

  40%,
  60% {
      left: 50%
  }

  100% {
      left: 110%
  }
}

@keyframes box {

  0%,
  40% {
      top: -20%
  }

  60% {
      top: 36%;
      left: 53%
  }

  100% {
      top: 40%;
      left: 112%
  }
}

@keyframes addcart {

  0%,
  30% {
      opacity: 1
  }

  30%,
  100% {
      opacity: 0
  }
}

@keyframes added {

  0%,
  80% {
      opacity: 0
  }

  100% {
      opacity: 1
  }
}
 


/* probando nuevo estilo */
 #prubCart .title {
  margin-bottom: 5vh
}

#prubCart{
  float:left ;
  margin-left: 100px;
  margin-top: 40px;
}

#prubCart .card {
  margin: auto;
  width: 1100px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

@media(max-width:767px) {
  .card {
      margin: 3vh auto
  }
}

#prubCart .cart {
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem
}

@media(max-width:767px) {
  .cart {
      padding: 4vh;
      border-bottom-left-radius: unset;
      border-top-right-radius: 1rem
  }
}

#prubCart .summary {
  background-color: rgb(109, 250, 243);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65)
}

@media(max-width:767px) {
  .summary {
      border-top-right-radius: unset;
      border-bottom-left-radius: 1rem
  }
}

#prubCart .summary .col-2 {
  padding: 0
}

#prubCart .summary .col-10 {
  padding: 0
}

#prubCart .row {
  margin: 0
}

#prubCart .title b {
  font-size: 1.5rem
}

#prubCart .main {
  margin: 0;
  padding: 2vh 0;
  width: 100%
}

#prubCart .col-2,
.col {
  padding: 0 1vh
}

#prubCart a {
  padding: 0 1vh
}

#prubCart .close {
  margin-left: auto;
  font-size: 0.7rem
}

#prubCart img {
  width: 4.5rem
}

#prubCart .back-to-shop {
  margin-top: 4.5rem
}

#prubCart h5 {
  margin-top: 4vh
}

#prubCart hr {
  margin-top: 1.25rem
}

#prubCart form {
  padding: 2vh 0
}

#prubCart select {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

#buyCart input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247)
}

#buyCart input:focus::-webkit-input-placeholder {
  color: transparent
}

/* #cartProductName{
  font-size: 15px;
} */

#code {
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center;
}

#checkOut, #checkOut2{
  text-align: right;
}

#addCant, #addCantCars2{
  width: 75px;
  margin-left: 25px;
}

#gg, #gg2{
  text-align: right;
}
/* fin probando nuevo estilo */


#profile {
  background: rgb(99, 39, 120)
}

.form-control:focus, .custom-select:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

/* calendario */

